<div class="auction-card-wrapper">
    <mat-card class="auction-card card-details" *ngIf="auction">
        <mat-card-header>
            <mat-card-subtitle>
                Bidder: {{ auction.currentBidder }}
            </mat-card-subtitle>
            <mat-card-title>{{ auction.name }} </mat-card-title>
        </mat-card-header>
        <img class="cropped" height="150" mat-card-image [src]="auction.imageURL" alt="Auction product image">
        <mat-card-content>
            <p>
                <app-count-down [endDate]="auction.ends"></app-count-down>
            </p>
            <p>
                <span class="text-label">Current bid:</span>
                <span [ngClass]="pulsingText" (animationend)="pulsingText.pulsing=false">
                    €{{ auction.currentBid }}
                </span>
            </p>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="bid(100)">Bid €100</button>
        </mat-card-actions>
    </mat-card>
</div>