/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
    text-align: center;
}

.content-wrapper {
    padding: 20px 70px;
    display: block;
}

.auction-card {
    width: 300px;
    margin: 0 30px 40px 0;
}

.auction-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cropped {
    object-fit: cover;
    margin: 10px 0;
}

.pulsing {
    animation-iteration-count: 1;
    animation: pulse 0.5s;
    animation-direction: alternate;
}

@keyframes pulse {
    0% {
        opacity: 1;
        background-color: transparent;
        color: black
    }

    50% {
        opacity: 0.3;
        background-color: green;
        color: white;
    }

    100% {
        opacity: 1;
        background-color: transparent;
        color: black;
    }
}