.search-autocomplete-form {
    margin-bottom: -17px;

    mat-form-field {
        width: 500px;
    }

    @media only screen and (max-width: 800px) {
        mat-form-field {
            width: auto;
        }
    }

}